@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

@tailwind base;
@tailwind components;
@tailwind utilities;

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 6px;
    height: 6px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #8b8b8b;
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
}

body {
    font-family: 'SF Pro Display', sans-serif;
    text-rendering: optimizeSpeed;
}

input[type='date']:in-range::-webkit-datetime-edit-year-field,
input[type='date']:in-range::-webkit-datetime-edit-month-field,
input[type='date']:in-range::-webkit-datetime-edit-day-field,
input[type='date']:in-range::-webkit-datetime-edit-text {
    color: transparent;
}
